<br>
<div>
  <fieldset>
    <legend>Reset Password</legend>
    <br>

    <div *ngIf="!IssetPassword">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username">
      </div>
      <br>
      <button [disabled]="checkDoneForUsername()" (click)="resetPassword(username)">Reset Password</button>
    </div>

    <div *ngIf="IssetPassword">
      <div>
        <label for="new-password">Enter Your New Password:</label>
        <br>
        <input type="password" id="new-password" [(ngModel)]="password">
        <!-- Use type "password" to hide the input -->
        <br>
        <br>
        <label for="verify-password">Verify Your New Password:</label>
        <br>
        <input type="password" id="verify-password" [(ngModel)]="verifyPassword">
        <br>
        <br>
        <button [disabled]="checkDoneForPassword()" (click)="setNewPassword()">Confirm</button>
        <!-- Use a label for the input fields -->
        <!-- Use IDs for the input fields and associate them with their respective labels using "for" -->
      </div>
    </div>

    <!-- Use a div to wrap the fieldset and conditionally show the content -->
  </fieldset>
</div>